<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">



<link rel="shortcut icon" href="favicon.ico" />
<title>Cadastrar um novo Funcionário</title>
<link rel="stylesheet" type="text/css"
	href="resources/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="resources/css/main.css">

<style>

span {
	font-family: Lato, sans-serif;
	font-size: 14px;
	font-weight: 500;
	font-style: normal;
	letter-spacing: 1px;
}

h1 {
	font-family: inherit;
	font-weight: bold;
	line-height: 1.2;
	color: #343D40;
}

input {
	border: 1px solid #04AA6D;
	height: calc(1.0em + .30rem + 2px)
}

button {
	background: #04AA6D;
	color: #fff;
	border: none;
	font-size: 16px;
	border-radius: 3px;
	font-weight: 600;
	padding: 9px 30px;
	white-space: inherit;
}

#example1 {
	width: 400px;
	padding: 20px;
	border: 1px solid #04AA6D;
	border-radius: 2em;
	background-color: rgba(62, 49, 38, 0.03);
	margin-left: auto;
	margin-right: auto;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

li {
	float: left;
	border-right: 1px solid #bbb;
}

li:last-child {
	border-right: none;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none
}

li a:hover:not(.active) {
	background-color: #111;
}

.active {
	background-color: #04AA6D;
}
</style>


</head>




<body>

	<ul>

		<li><a class="active"
			href="/funcionarios/pages/novo-funcionario.html">Cadastro de
				funcionário</a></li>
		<li><a href="/funcionarios/index.html">Lista de funcionários</a></li>

	</ul>
	</br>
	<div id="example1"; >
		<div id="cadastro">

			<div
				style="text-align: center; padding-top: 20px; padding-bottom: 60px">


				<h1>Cadastro de funcionário</h1>
				</br> <span>Nome</span> <input v-model="funcionarioSetor.nome"
					type="text" placeholder="Nome completo"></input> </br> </br> <span>Setor</span> <select
					v-model="selecionado">
					<option :value="setor.id" v-for="setor in listaSetores">{{
						setor.nome }}</option>

				</select> </br> </br> <span>Salário</span> <input v-model="funcionarioSetor.salario"
					type="text" placeholder="Ex:1500.50"></input> </br> </br> <span>Email</span> <input
					v-model="funcionarioSetor.email" type="text" placeholder="Ex:conta@gmail.com" ></input> </br> </br> <span>Datanascimento</span>

				<input v-model="funcionarioSetor.dataNascimento" type="date"></input>
				</br> </br> </br> </br>
				<button type="submit" @click="salvar">Cadastrar</button>


			</div>
		</div>

	</div>

	<script src="../resources/js/vue.js"></script>
	<script src="../resources/js/axios.min.js"></script>
	<script src="../resources/js/cadastro-de-funcionario.js"></script>
</body>
</html>