<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
<meta http-equiv="Cache-Control" content="no-store" />


<style>

	tr:nth-child(even){background-color: #f2f2f2}

	th {
  		background-color: #04AA6D;
  		color: white;}
  	table {
  	
  		  width: 95%;
		  border-collapse: collapse;
		  
		}
	th, td {
		  text-align: left;
		  
		}

	h1 {
		font-family: inherit;
		font-weight: bold;
		line-height: 1.2;
		color: #343D40;
	}
	ul {
	  list-style-type: none;
	  margin: 0;
	  padding: 0;
	  overflow: hidden;
	  background-color: #333;
	}
	
	li {
	  float: left;
	  border-right:1px solid #bbb;
	}
	
	li:last-child {
	  border-right: none;
	}
	
	li a {
	  display: block;
	  color: white;
	  text-align: center;
	  padding: 14px 16px;
	  text-decoration: none;
	}
	
	li a:hover:not(.active) {
	  background-color: #111;
	}
	
	.active {
	  background-color: #04AA6D;
	}
</style>
	
	
	
	
<link rel="shortcut icon" href="favicon.ico" />

<link rel="stylesheet" type="text/css"
	href="resources/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css"
	href="resources/css/bootstrap-vue.css">
	
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>




<body>

	<ul>
  
  <li><a href="/funcionarios/pages/novo-funcionario.html">Cadastro de funcionário</a></li>
  <li><a class="active" href="/funcionarios/index.html">Lista de funcionários</a></li>
   </ul>

	<div id="inicio" class="container-fluid table">



		<!-- Modal -->
		<div class="modal fade" id="modal" tabindex="-1" role="dialog"
			aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Alteração de funcionário</h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="w3-container">
							<span>Nome</span> <input v-model="funcionarioAlterado.nome"  id="nome" type="text"></input> </br> </br> 
							
							<span>Setor</span><select v-model="selecionado">
								<option :value="setor.idSetor" v-for="setor in listaSetores">{{
									setor.nome }}</option>
							</select> </br> </br> 
							
							<span>Salário</span> <input id="salario" v-model="funcionarioAlterado.salario" type="text"></input> </br> </br> 
							<span>Email</span>
							<input id="email" v-model="funcionarioAlterado.email" type="text"></input> </br> </br>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary"
							data-dismiss="modal" @click="limpaCampos">Cancelar</button>
						<button type="button" @click="atualiza" class="btn btn-primary">Salvar</button>
					</div>
				</div>
			</div>
		</div>



		<div style="text-align:center; padding-top:20px;">
			<h1>Lista dos Funcionários</h1>
		</div>
		<div style="padding-left:05%; padding-top: 60px">
		
		<table class="center">
			<tr>
			
				<th>Nome</th>
				<th>Setor</th>
				<th>Salário</th>
				<th>Email</th>
				<th>Dt Nascimento</th>
				<th></th>
				<th></th>
			</tr>
			<tbody id="event-table">
				<tr v-for="funcionario in lista">
					<td>{{ funcionario.nome }}</td>
					<td>{{ funcionario.nomeSetor }}</td>
					<td>{{ funcionario.salario }}</td>
					<td>{{ funcionario.email }}</td>
					<td>{{ funcionario.dataNascimento }}</td>
					<td><span @click="habilitaEdicao(funcionario, index)">&#9998;</span>
						<span @click="apagar(funcionario)">&#10006;</span></td>
				</tr>
			</tbody>
		</table>
		</div>
	</div>

	<script>
	function abreLoad(){
	    $("#loader").modal("show");
	}

	function fechaLoad(){

	    $("#loader").modal('hide');
	}
	
	</script>
	<script src="resources/js/vue.js"></script>
	<script src="resources/js/axios.min.js"></script>
	<script src="resources/js/index.js"></script>

</body>
</html>